<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Blog Detail</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <header>
    <!--here starts the navbar navigation bar menu-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Tolique</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Twitter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% static 'test2.docx' %}">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'allblogs' %}">Blog</a>
            </li>
          </ul>
        </div>
      </nav>

    </header>
{{ detailblog.title }}<br />
{{ detailblog.pub_date_pretty }} <br />
{{ detailblog.mod_date_pretty }} <br />
  {% if detailblog.image %}
  <img class="bd-placeholder-img card-img-top" src="{{ detailblog.image.url }}" />
  {% else %}
  <img class="bd-placeholder-img card-img-top" src="{% static 'empty.png' %}" />
{% endif %}
</body>
</html>